body {
    font-family: "Noto Sans", sans-serif;
    margin: 0;
}

.container {
    width: 70%;
    margin: auto;
}

.mobile {
    display: none;
}

img {
    width: 100%;
}

header h2 {
    color: #0c1579;
    font-weight: 800;
    font-size: 35px;
    text-shadow: #0c157968 1px 0 10px;
}

header ul li a {
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
    line-height: 1.4;
    letter-spacing: 1px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header ul li {
    margin: 0 10px;
    color: black;
}

header ul li a {
    color: black;
}

.adv p {
    margin: 0;
}

h1 {
    text-align: center;

}

h1 span {
    color: #0c1579;
    text-transform: uppercase;
    font-weight: 800;
    display: block;
}


/* product */

.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.product div {
    margin: auto;
}

.product-img {
    width: 70%;
    margin: auto;
}

.product ul {
    margin-left: 20px;
}

.product ul li {
    list-style-type: disc;
}

/* footFungus */

.footFungus {
    margin: 50px auto;
    position: relative;
}

.footFungus-div {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: azure;
    padding: 20px;
    border-radius: 15px;
}


.sw {
    width: 40%;
    margin: auto;
    padding: 30px;
    background-color: #0c1579;

}

.mySwiperCare:host {
    --swiper-theme-color: #ffffff;
}

div.title {
    background-color: #ffffff;
    padding: 5px;
    margin: 10px;
    border-top-right-radius: 125px;
    border-bottom-left-radius: 125px;
    font-weight: 900;
    text-align: center;
}

div.mySwiperCare-div p {

    width: 90%;
    margin: 10px auto;
    color: white;
    font-weight: 700;
    font-size: 14px;
    text-align: left;
}

div.mySwiperCare-div p span {
    display: block;
    text-transform: uppercase;
}

/* formula */

.title-h3 {
    text-align: center;
    color: #0c1579;
    font-weight: 800;

    font-size: 25px;
}

.formula {
    margin: 50px auto;
}

.formula-img {
    position: relative;
}


.formula-div {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: white;
    width: 37%;
    margin: auto;
}

.formula-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.formula-div h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}


.formula-images div {
    text-align: center;
}

.formula-images div img {
    width: 90px;
}


/* ingridients */

.ingridients ul li {
    list-style-type: circle;
}

.ingridients ul {
    margin-left: 20px;
}

.ingr-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 40px auto;
}

.ingr {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 5px;
}

.text {
    text-align: right;
    color: #0c1579;
}

.text h4 {
    padding-right: 3px;
    padding-bottom: 3px;
    font-weight: 800;
    border-bottom: 1px solid #0c1579;
    border-right: 1px solid #0c1579;
    margin-bottom: 0;
}

.text p {
    font-weight: 500;
    margin-top: 10px;
}

/* treatment */

.treatment-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

ul li {
    margin-bottom: 10px;
}

/* instruction */
.instruction {
    color: #0c1579;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.instruction h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.instr img {
    width: 100px;
}

.instr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.how-to-use {
    margin: 25px auto;
    position: relative;
}

.instr p {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.24);
    margin-left: -20px;
    width: 50%;
}

.right p {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.24);
    margin-right: -20px;
    text-align: center;

}



/* faq */

.q {
    font-weight: 700;
    font-size: 16px;
    margin: 7px 0;
    padding: 10px 15px;
    background-color: #0c1579c8;
    margin: 0;
    color: white;
    border-radius: 15px;
    border: #0c1579c8 1px solid;

}

.a {
    display: none;
    margin: 0;
    padding: 15px;
    padding-top: 0;
    margin-top: 5px;
    font-size: 14px;

}

.faq-content {
    margin: 20px auto;
}

.faq-div {
    /* padding: 25px; */
    color: #005280;
}

.faq {
    /* background-color: #ccdee8; */
    margin: 0;
    padding: 25px 0;
}


.title h3 {
    margin: 0;
    padding: 10px 0;
}




/* comments */
.comments {
    position: relative;
}

.comments-div {
    color: #0c1579;
}

.comments-div {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: rgba(255, 255, 255, 0.452);
    padding: 25px 50px;
    border-radius: 50px;
}

.comment {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 25px;
    margin-bottom: 25px;
}
.comment2 {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 25px;
    margin-bottom: 25px;
}
.stars {
    display: flex;
    align-items: center;
}

.stars p {
    margin: 0;
    font-size: 18px;
    font-weight: 900;
}

.stars img {
    width: 120px;
    margin-left: 15px;
}

.verif {
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: -7px;
}

.verif p {
    margin: auto 0;
    font-size: 12px;
    font-weight: 700;
}

.verif img {
    width: 20px;
}

.comm-text {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    margin-top: 10px;
}





/* order */
/* 
.order {
    display: grid;
    grid-template-columns: 700px 1fr;
    gap: 50px;
}

.prod {
    width: 80%;
    margin: auto;
}

.radio-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.radio-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.space {
    display: flex;
    justify-content: space-between;
}

.free {
    text-align: center;
    border: 2px dashed #005280;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    padding: 7px 0;
}

button {
    background-color: #0c1579;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 20px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    margin-top: 15px;
    font-weight: 800;
}

.sw-div {
    margin: auto 0;
}

.order-div h3 {
    font-size: 35px;
    text-align: center;
    color: #0c1579;
    font-weight: 800;
    margin-bottom: 10px;

}

.order-radio {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.radio {
    padding: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    font-weight: 500;
}

.yellow {
    background-color: #f5c14f;
}

label p {
    margin-left: 5px;
}

label p span {
    color: #f26522;
    font-weight: 700;
}

input[type="radio"] {
    accent-color: red;
    margin: auto;
}

.order {
    margin: 50px auto;
}

.order-stars {
    display: flex;
    align-items: center;
}

.order-stars img {
    width: 100px;
}

.order-stars p {
    margin: 0;
}

.order-bullets {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px auto;
}

.order-content {
    margin: auto;
    text-align: center;
}

.order-content img {
    width: 80px;
}

.order-content p {
    margin: 0;
    font-size: 14px;
}

 */



/* order */
form {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

form input,
select {
    margin: 5px 0;
    padding: 5px;
}
.order{
    display: grid;
    grid-template-columns: 0.7fr 0.7fr 0.7fr 1fr;
    gap: 25px;
    margin: 60px auto;
}
.order-pack{
    border-radius: 25px;
    background-color: #0c157908;
}
.order-pack h4{
    text-align: center;
    color: white;
    background-color: #0c1579;
    font-size: 20px;
    padding: 5px 3dvb;
    margin: 0;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;

}
.old-price{
    
    font-weight: 500;
    text-align: center;
    text-decoration: line-through;
    margin: 0;
}
.flex-price{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.price{
    font-size: 20px;
    font-weight: 800;
    color: red;
    margin: 0;
}
.order-pack button{
    text-align: center;
    margin: 15px auto;
    display: flex;
    border: none;
    background-color: #0c1579;
    color: white;
    padding: 10px 35px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 15px;

}
form{
    padding: 15px;
}

/* footer */
footer div.links {
    text-align: center;
    margin: 15px;
}

footer a {
    margin: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
}

footer p {
    text-align: center;
}

footer p.disclaimer {
    width: 70%;
    margin: 10px auto;
    letter-spacing: 0;
    line-height: 1;
    font-size: 14px;
}


.footFungus {
    margin: 40px auto;
}

@media screen and (max-width: 1600px) {

    .container {
        width: 80%;

    }

    .footFungus,
    .comments {

        width: 100%;
    }

    .sw {
        width: 60%;

    }

    /* .order {
        display: grid;
        grid-template-columns: 600px 1fr;
    } */

    .order-div h3 {
        margin-top: 0;
    }
    .comment2{
        width: 80%;
        margin: auto;
    }
    
}

@media screen and (max-width: 1200px) {


    .container {
        width: 90%;

    }

    .footFungus,
    .comments {

        width: 100%;
    }

  

    .order {
        display: grid;
        grid-template-areas: "one two three" "four four four";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr; 
      }
      
      #one {
        grid-area: one; 
      }
      #two {
        grid-area: two; 
      }
      #three {
        grid-area: three; 
      }
      #four {
        grid-area: four;
        width: 50%;
        margin: auto; 
      }
      .comment {
        width: 80%;
        margin: auto;
      
    }
    .comments-div { 
        width: 100%;
    }
}


@media screen and (max-width: 994px) {
    .comment {
        width: 90%;
        margin: auto;
    }
    .comments-div{
        padding: 0;
        margin: auto;
    }
    .ingr-div {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    .comm-text{
        color: #0c1579;
    }
    .stars p{
        color: #0c1579;

    }
    .comment {
        width: 100%;
        margin: auto;
    }
    .comments-div {

        position: relative;
        top: 0;
        left: 0;
        transform: none;
        width: 80%;
    }
    #four {
        grid-area: four;
        width: 80%;
        margin: auto;
    }
 
    
    .sw {
        width: 90%;
    }
}


@media screen and (max-width: 768px) {
    .order-pack h4 { 
        font-size: 14px;
    }
    .order-pack button { 
        padding: 10px 10px;
        font-size: 16px;
    }
    .product {
        display: grid;
        grid-template-columns: 1fr;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    .footFungus-div {
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translate(-50%, -50%);
        width: 61%;
        background-color: azure;
        padding: 5px 8px;
        border-radius: 15px;
    }

    .formula-img {
        width: 100%;
    }

    .formula-div {
        position: absolute;
        top: 50%;
        left: 72%;
        transform: translate(-50%, -50%);
        color: white;
        width: 53%;
        margin: auto;
    }

    .ingr-div {
        display: grid;
        grid-template-columns: 1fr;
    }

    .ingr {
        width: 65%;
        margin: auto;
    }

    .instruction {
        position: relative;
        transform: none;
        top: 0;
        left: 0;
        width: 100%;
    }

    .desktop {
        display: none;
    }
}


@media screen and (max-width: 500px) {
    .order {
        display: flex; 
        flex-direction: column;
    }
    #four { 
        width: 100%;
        margin: auto;
    }
    .order-pack button {
        padding: 10px 40px;
        font-size: 18px;
    }
    .order-pack img{
        width: 70%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h1 {
        text-align: center;
        font-size: 23px;
        margin-top: 30px;
    }

    .footFungus-div {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        width: 90%;
        margin: auto;
        margin-top: 15px;
    }

    .desktop500 {
        display: none;
    }

    .mobile {
        display: block;
    }

    .ingr-div {
        gap: 5px;
    }

    .ingr {
        width: 90%;
        margin: auto;
    }

    .comments-div {
        width: 90%;
        padding: 5px;
    }

    .sw {
        padding: 5px;
    }

    footer p.disclaimer {
        width: 100%;
    }

    footer div.links {
        display: flex;
        flex-direction: column;
        margin: 5px;
    }

    footer a {
        margin: 2px;
    }

    .order {
        margin-bottom: 10px;
    }
}


@media screen and (max-width: 414px) {
    header ul li a {
        color: black;
        font-size: 12px;
    }
    .comment2 {
        display: grid;
        grid-template-columns: 75px 1fr;
    }
    .formula-images {
        width: 95%;
    }
    .stars img {
        width: 90px;
        margin-left: 1px;
    }
    .stars p {
        margin: 0;
        font-size: 14px;
    }
}